// color for fonts
$black: #000000;
$dark_grey: #2D3033;
$deep_grey: #6C7279;
$grey: #808080;
$light_grey: #C6CBCD;
$white: #FFFFFF;
// color for background
$deep_blue: #353C65;
$dark_blue: #2C3154;
$red: #FF4343;
$deep_red: #E71414;
$violet: #5C3249;